* {
    margin: 0;
    padding: 0;
    font-family: "maven_proregular", Arial, Helvetica;
    
}
.navbar {
    display: block;
}


a.nav-link{
    font-size: 22px;
}

.container-fluid {
    padding-left: 10rem;
}
.año {
    background-color: white;
    color: rgb(13, 119, 206);
    width: 10rem;
    margin-left: 3rem;
    border-radius: 3%;
    box-shadow:   5px 0 rgb(255, 255, 255);
    font-weight: 600;

    
}

div.text  {
    color: black;
height: 800px;
padding-top: 10rem;
}


.descrip {
    text-align: center;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}

.nav-link {
color: white;
font-weight: 600;

}   


nav.navbar img {
    width: 200px;
    border-radius: 5%;
    

}
nav {   
    background-image: url(https://www.cristaleriamadrid.es/uploads/blog/cristales-especiales.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   height: 60rem;
   

}

body {
    height: 100rem;
}


/* a.dropdown-item {
    color: white;
} */
.dropdown-menu {
    background-image: linear-gradient(-90deg, rgba(9, 255, 255, 0.659), rgba(42, 66, 248, 0.635));
}
.card-body img {
    width: 400px;
height: 300px;
object-fit: cover;


}
.card-body {
    text-align: center;
}
.card {
    width: 450px;
    height: 500px;
    margin-top: 2rem;
}
.btn{
    border-radius: 50px;
    background-color:rgb(74, 120, 245) ;
    border: 1px solid white;

}
.btn:hover{
    background-color: rgb(0, 68, 255);
}
.card-body h5 {
    padding-top: 0.5rem;
    margin-top: 1rem;
    border:1px solid rgb(139, 104, 0) ;
    border-radius: 50px;
    margin-left: 4rem;
    margin-right: 4rem;
    padding-bottom: 0.5rem;
    background-color:rgba(139, 104, 0, 0.689) ;
    color: white;
}

@media screen and (max-width:700px) {
    .descrip {
        font-size: 35px;
       padding-top: 3rem;
       padding-bottom: 3rem;
       box-shadow: none;
       border-bottom: 1px solid black;
       border-top: 1px solid black;
     
    
    }
    .container-fluid {
        padding-left: 1rem;
    }
   .link {
    background-color: white;
    border-radius: 8%;
    padding-left: 0.5rem;
    
    
   }
   .nav-link {
    color: black;
  }
  .text {
    padding-top: 3rem;
  }
  .año {
    width: 130px
  }
  .card {
    width: 100%;
  }
  .card-body img {
    width: 100%;
  }
  
  }